.popover{
  position:fixed;
  top:65px;
  display: fixed;
  justify-content: center;
  width: 130px;
  left:15px;
}

.popover-arrow{
  position: absolute;
  top: -9px;
  width: 0;
  height: 0;
  left: 12px;
  transform: translate(-50%, 0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E6E6E6;

}

.popover-arrow-inner{
  position: absolute;
  top: -8px;
  width: 0;
  height: 0;
  left: 12px;
  transform: translate(-50%,0);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #FFF;
  z-index: 1000;
}

.popoverHidden{
  opacity: 0;
}

.popoverVisible{
  opacity:1;
}

.popover-content{
  display: fixed;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
}
.popover-option:hover{
  color:rgba(163, 163, 163, 1);
  cursor: pointer;
}
.popover-option span{
  margin-left:10px;
}
