
.navbar{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background:#101010;
  color: #FFF;
  width: 100%;
  padding-top:0px !important;
  padding-bottom: 0px !important;

}



.convo.navbar{
  justify-content: center;
}

.navbar a{
  color: #FFF;
}

.navbar a:hover{
  color: #FFF;
  text-decoration: none;
}

/*Listview Formatting*/
.menuSelectionHolderBox{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
@media screen and (min-width: 768px) {
    .menuSelectionHolderBox {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .menuSelectionHolderBox {
        width: 30%;
    }
}

  .menuSelectionHolderBox .newConvo{
    cursor: pointer;
    margin-right: 10px;
  }

    .navbarSearchBtn{
      cursor:pointer;
      margin-left: 10px;
    }


    /*Search Field*/
    .navBarSearchContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .navBarSearchContainer i{
      margin-left:16px;
    }

/*Nav Input Formatting*/
/*.navSearch{
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.navSearch i.inputLabel {
  background: #FFFFFF;
  border-right:0px;
  border-radius: 40px 0px 0px 40px !important;
  height: 38px;
}
.navSearch input {
  background: #FFFFFF;
  border-left:0px;
  border-radius: 40px;
  /*min-width: px;*/
  max-width: 300px;
  margin-right: 10px;

}
.navBarSearchContainer i{
  cursor: pointer;
}

.navSearch i.close{
  color:#FFF;
  background: transparent;
  opacity: 1;
  margin-right:10px;
}

/* Settings Container */
.navBarSettingsContainer{
  position: relative;
  right: 0;
}

/*Convo Nav Formatting*/
.convoSectionHolderBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.convoNav{
  display: flex;
  align-items: center;
  width: 100%;
}


.backNav{
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left:0;
  padding: 10px 10px;
}

.backNav .backText{
  padding-left: 5px;
}


.convoNav .peopleNav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
}
.convoNav .peopleNav .peopleImg{
  border-radius: 100%;
  overflow: hidden;
  height: 45px;
  width: 45px;
}

.convoNav .peopleNav img{
  height: 50px;
}

@media screen and (min-width: 768px) {
    .convoSectionHolderBox {
        display: flex;
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .convoSectionHolderBox {
        width: 70%;
    }
}


/*NEW CONVO*/
.newConvoHeader .title{

}

.newConvoHeader .closeNewConvoHeader{
  color: #FFFFFF;
  position: absolute;
  right:15px;
}
