
.navbar{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background:#101010;
  color: #FFF;
  width: 100%;
  padding-top:5px !important;
  padding-bottom: 5px !important;

}






/*Listview Formatting*/
.menuSelectionHolderBox{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
@media screen and (min-width: 768px) {
    .menuSelectionHolderBox {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .menuSelectionHolderBox {
        width: 30%;
    }
}

  .menuSelectionHolderBox .newConvo{
    cursor: pointer;
    margin-right: 10px;
  }

    .navbarSearchBtn{
      cursor:pointer;
      margin-left: 10px;
    }


    /*Search Field*/
    .navBarSearchContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .navBarSearchContainer i{
      margin-left:16px;
    }

/*Nav Input Formatting*/
/*.navSearch{
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.navSearch i.inputLabel {
  background: #FFFFFF;
  border-right:0px;
  border-radius: 40px 0px 0px 40px !important;
  height: 38px;
}
.navSearch input {
  background: #FFFFFF;
  border-left:0px;
  border-radius: 40px;
  /*min-width: px;*/
  max-width: 300px;
  margin-right: 10px;

}
.navBarSearchContainer i{
  cursor: pointer;
}

.navSearch i.close{
  color:#FFF;
  background: transparent;
  opacity: 1;
  margin-right:10px;
}

/* Settings Container */
.navBarSettingsContainer{
  position: relative;
  right: 0;
}

/*Convo Nav Formatting*/



/*NEW CONVO*/
.newConvoHeader .title{

}

.newConvoHeader .closeNewConvoHeader{
  color: #FFFFFF;
  position: absolute;
  right:15px;
}
