
.navbar{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background:#101010;
  color: #FFF;
  width: 100%;

}

.convo.navbar{
  justify-content: center;
}

.navbar a{
  color: #FFF;
}

.navbar a:hover{
  color: #FFF;
  text-decoration: none;
}

/*Listview Formatting*/
.menuSelectionHolderBox{
  display: flex;
  width: 100%;

}
@media screen and (min-width: 768px) {
    .menuSelectionHolderBox {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .menuSelectionHolderBox {
        width: 30%;
    }
}

  .menuSelectionHolderBox .newConvo{
    cursor: pointer;
  }

    .navbarSearchBtn{
      cursor:pointer;
      margin-left: auto;
    }


    /*Search Field*/
    .navBarSearchContainer{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .navBarSearchContainer i{
      margin-left:16px;
    }

/*Nav Search Formatting*/
.navSearch i {
  background: #FFFFFF;
  border-right:0px;
  border-radius: 40px;
}
.navSearch input {
  background: #FFFFFF;
  border-left:0px;
  border-radius: 40px;
  min-width: 280px;
  max-width: 400px;
}
.navBarSearchContainer i{
  cursor: pointer;
}

/* Settings Container */
.navBarSettingsContainer{
  position: relative;
  right: 0;
}

/*Convo Nav Formatting*/
.convoSectionHolderBox{
  width: 100%;
  display: none;
}

.convoNav{
  display: flex;
  align-items: center;
  width: 100%;
}


.convoNav .backNav{
  position:relative;
  display: none;
  flex-direction: row;
  align-items: center;
  left:0;
  padding: 10px 10px;
}

.convoNav .backNav .backText{
  padding-left: 5px;
}


.convoNav .peopleNav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
}
.convoNav .peopleNav .peopleImg{
  border-radius: 100%;
  overflow: hidden;
  height: 45px;
  width: 45px;
}

.convoNav .peopleNav img{
  height: 50px;
}

@media screen and (min-width: 768px) {
    .convoSectionHolderBox {
        display: flex;
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .convoSectionHolderBox {
        width: 70%;
    }
}


/*NEW CONVO*/
.newConvoHeader .title{

}

.newConvoHeader .closeNewConvoHeader{
  color: #FFFFFF;
  position: absolute;
  right:15px;
}
