/*#root, .body, body, html{
  height: 100vh;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: SFUIText-Regular, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.body{
  height: 100%;
}
.form-control:focus{
  border-color: #D9D9D9;
}
