.convoListItem{
  display: flex;
  height: 100px;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
}
.userImg{
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.userImg img{
height: 50px;
}

.convoListItem:hover{
  background: #F2F2F2;
  cursor:pointer;
}

.msgLiContainer{
  padding-left:15px;
  display: flex;
  align-items: flex-start;
  /*overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;*/

}

.msgLiContainer .authorText{
  color: rgba(0, 0, 0, 1);
  font-size: 0.9375em;
  line-height: 1.4em;
  max-width: 10em;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.msgLiContainer .messageText{
  color:rgba(153, 153, 153, 1);
  font-size: .8125em;
  font-weight: 400;
  height: 1.3em;
  width: 17em;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.date{
  color: rgba(0, 0, 0, .40);
  font-size: .8125em;
  font-weight: 400;
  float:right;
  margin-bottom: 10px;
  margin-left: auto;
  padding-left:10px;
  width:90px;
}
